<form (ngSubmit)="submit()" *ngIf="active" #pointsForm="ngForm" class="was-validated">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Punktevergabe bearbeiten</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div *ngIf="formValidationMsg != ''" class="alert alert-warning">
      {{formValidationMsg}}
    </div>

    <div class="form-group row">
      <label for="pointsForQualifying" class="col-sm-3">Qualifying-Punkte</label>
      <div class="col-sm-9">
        <input [(ngModel)]="tmpSeries.pointsForQualifying" type="text" class="form-control" id="pointsForQualifying"
               name="pointsForQualifying"
               pattern="[0-9:\.]+" required>
        <small id="pointsForQualifyingHelp" class="form-text text-muted">
          Wie viele Punkte erh&auml;lt der Fahrer mit der schnellsten Runde im Qualifying?
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label for="pointsForQualifying" class="col-sm-3">Schnellste Rennrunde</label>
      <div class="col-sm-9">
        <input [(ngModel)]="tmpSeries.pointsForFastestLap" type="text" class="form-control"
               id="pointsForFastestLap" name="pointsForFastestLap" pattern="[0-9:\.]+" required>
        <small id="pointsForFastestLapHelp" class="form-text text-muted">
          Wie viele Punkte erh&auml;lt der Fahrer mit der schnellsten Runde im Rennen?
        </small>
      </div>
    </div>


    <div class="form-group row">
      <label for="pointsForQualifying" class="col-sm-3">Platzierung</label>
      <div class="col-sm-9">

        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Platz</th>
            <th scope="col">Punkte</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of tmpSeries?.points; let i = index; trackBy: trackByPoints">
            <th scope="row">{{i+1}}. Platz</th>
            <td><input type="text" class="form-control" pattern="[0-9]+"
                       [(ngModel)]="tmpSeries.points[i]" name="point{{i}}" required /></td>
            <td><a href="javascript:void();" (click)="removePointsAt(i)"><i class="fa fa-minus" aria-hidden="true"></i></a></td>
          </tr>
          </tbody>
        </table>
        <a href="javascript:void();" (click)="addPoint()"><i class="fa fa-plus" aria-hidden="true"></i> Weitere Position hinzuf&uuml;gen</a>

      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancel()">Abbrechen</button>
    <button type="submit" class="btn btn-primary" [disabled]="!pointsForm.form.valid">Speichern</button>
  </div>

</form>
