<div class="alert alert-warning m-5" *ngIf="!data">
  Rennserie nicht gefunden.
</div>


<div class="jumbotron" *ngIf="data && data.series">
  <h1 class="display-3">{{data.series.name}}</h1>
  <p class="lead">
    <markdown [data]="data.series.description" *ngIf="data.series.description"></markdown>
  </p>
  <p class="text-muted" *ngIf="!data.series.description">Keine Beschreibung vorhanden.</p>
  <p class="text-right mr-4">
    <a (click)="editSeries()" href="javascript:void();" *ngIf="editing">
      <i class="fa fa-pencil" aria-hidden="true"></i> Bearbeiten</a>
  </p>
</div>

<div class="container-fluid" *ngIf="data && data.series">
  <div class="row">
    <div class="col-sm-9">
      <race [raceSubject]="selectedRace" [data]="data"
            [editing]="editing" *ngIf="selectedRace.getValue()"></race>
      <series-information [series]="data.series" [editing]="editing"></series-information>
    </div>

    <div class="col-sm-3">
      <race-list [data]="data" (onSelectedRace)="onSelectedRace($event)"
                 [selectedRace]="selectedRace" [editing]="editing"></race-list>
      <teams [data]="data" [editing]="editing"></teams>
    </div>
  </div>
</div>

<p class="text-right mr-4" *ngIf="data && data.series">
  <a (click)="startEditing()" href="javascript:void();" *ngIf="!editing"><i class="fa fa-pencil" aria-hidden="true"></i>
    Zum Bearbeiten entsperren</a>
  <a (click)="stopEditing()" href="javascript:void();" *ngIf="editing"><i class="fa fa-pencil" aria-hidden="true"></i>
    Bearbeiten beenden</a>
</p>
