<table class="table table-striped" *ngIf="event.getValue() && !editing && event.getValue().type === 'RACE'">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Bestzeit</th>
    <th scope="col">Gesamtzeit</th>
  </tr>
  </thead>
  <tbody>

  <tr style="border-left: 5px solid;" [style.border-left-color]="getTeamColor(res.driverId)"
      *ngFor="let res of event.getValue().results">
    <td scope="row">
      <span class="font-weight-bold">{{res.finishPosition}}</span>
      <span *ngIf="getPositionDiff(res)" [style.color]="getPositionDiffColor(res)">({{getPositionDiff(res)}})</span>
    </td>
    <td>
          <span *ngIf="res.replacementDriver">
            {{res.replacementDriver}} <br />
            <span class="text-muted">(Ersatz f&uuml;r {{getDriverNameForId(res.driverId)}})</span>
          </span>
      <span *ngIf="!res.replacementDriver">
            {{getDriverNameForId(res.driverId)}}
          </span>
    </td>
    <td>{{res.fastestTime}}</td>
    <td>{{res.totalTime}}</td>
  </tr>
  </tbody>
</table>

<div *ngIf="event.getValue() && editing && event.getValue().type === 'RACE'">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Ersatzfahrer</th>
      <th scope="col">Start-Pos.</th>
      <th scope="col">End-Pos.</th>
      <th scope="col">Gesamtzeit</th>
      <th scope="col">Bestzeit</th>
      <th scope="col">Runden</th>
      <th scope="col">Zeit-strafe</th>
      <th scope="col">Straf-punkte</th>
      <th scope="col">DNF</th>
    </tr>
    </thead>
    <tr *ngFor="let driver of data.drivers">
      <td>{{driver.name}}</td>
      <td>
        <input type="text" [(ngModel)]="driverResult[driver.id].replacementDriver"
               class="replacementDriverColumn" placeholder="(Keiner)"/>
      </td>
      <td>
        <input type="text" [(ngModel)]="driverResult[driver.id].gridPosition" class="numberColumn"/>
      </td>
      <td>
        <input type="text" [(ngModel)]="driverResult[driver.id].finishPosition" class="numberColumn"/>
      </td>
      <td>
        <input type="text" [ngModel]="driverResult[driver.id].totalTime"
               (ngModelChange)="handleTotalTimeChanged($event, driver.id)"
               class="totalTimeColumn" placeholder="HH:MM:SS.sss"/>
      </td>
      <td>
        <input type="text" [(ngModel)]="driverResult[driver.id].fastestTime" class="fastestTimeColumn"
               placeholder="MM:SS.sss"/>
      </td>
      <td>
        <input type="text" [(ngModel)]="driverResult[driver.id].lapsCompleted" class="numberColumn"/>
      </td>
      <td>
        <input type="text" [(ngModel)]="driverResult[driver.id].penaltySeconds" class="numberColumn"/>
      </td>
      <td>
        <input type="text" [(ngModel)]="driverResult[driver.id].penaltyPoints" class="numberColumn"/>
      </td>
      <td>
        <input type="checkbox" [(ngModel)]="driverResult[driver.id].dnf"/>
      </td>
    </tr>
  </table>

  <div class="text-right">
    <button type="button" class="btn btn-primary" (click)="saveEvent()">Save</button>
  </div>
</div>
