<div *ngIf="event.getValue() && !editing && event.getValue().type === 'RACE'">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Runden</th>
      <th scope="col">Bestzeit</th>
      <th scope="col">Gesamtzeit</th>
      <th scope="col">Gesamtpunkte</th>
    </tr>
    </thead>
    <tbody>

    <ng-container *ngFor="let res of event.getValue().results">
      <tr style="border-left: 5px solid;" [style.border-left-color]="data.getTeamColor(res.driverId)" *ngIf="res.participated">
        <td scope="row">
          <span class="font-weight-bold">{{res.finishPosition}}</span>
          <span *ngIf="getPositionDiff(res)"
                [style.color]="getPositionDiffColor(res)">({{getPositionDiffString(res)}})</span>
        </td>
        <td>
          <span *ngIf="res.replacementDriver">
            {{res.replacementDriver}} <br/>
            <span class="text-muted">(Ersatz f&uuml;r {{data.getDriverNameForId(res.driverId)}})</span>
          </span>
          <span *ngIf="!res.replacementDriver">
            {{data.getDriverNumberForId(res.driverId)}} {{data.getDriverNameForId(res.driverId)}}
          </span>
          <span class="text-muted" *ngIf="data.getTeamName(res.driverId)"><br />{{data.getTeamName(res.driverId)}}</span>
        </td>

        <td *ngIf="!res.dnf">{{res.lapsCompleted}}</td>
        <td *ngIf="!res.dnf" [ngClass]="{'font-weight-bold': isFastestLap(res)}">
          {{durationService.format(res.fastestTime)}}
        </td>
        <td *ngIf="!res.dnf">
          {{durationService.format(res.totalTime)}}
          <span *ngIf="getTotalTimeDiff(res) !== 0"
                class="timeDiff">+{{durationService.format(getTotalTimeDiff(res))}}</span>
          <span *ngIf="res.penaltySeconds > 0" class="penalty"><br />(+{{res.penaltySeconds}} Sekunden)</span>
        </td>
        <td *ngIf="res.dnf" colspan="3">DNF</td>

        <td>
          <span *ngIf="res.dnf">-</span>
          <span *ngIf="!res.dnf">
            {{getPointsFor(res)}}
            <span *ngIf="isFastestLap(res)">*</span> <span *ngIf="res.ignoreForStanding">**</span>
            <span *ngIf="res.penaltyPoints > 0" class="penalty"><br />(-{{res.penaltyPoints}} Strafpunkte)</span>
        </span>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <p *ngIf="data.series.pointsForFastestLap > 0" class="text-muted">
    * {{data.series.pointsForFastestLap}} Extra-Punkt(e) f&uuml;r schnellste Rennrunde
  </p>
  <p *ngIf="hasIgnoreForStandingResult()" class="text-muted">
    ** Aus Gesamtwertung gestrichen
  </p>
</div>


<div *ngIf="event.getValue() && editing && event.getValue().type === 'RACE'">
  <form #raceForm="ngForm" [class.was-validated]="raceForm.dirty">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Ersatzfahrer</th>
        <th scope="col">Start-Pos.</th>
        <th scope="col">End-Pos.</th>
        <th scope="col">Bestzeit</th>
        <th scope="col">Gesamtzeit</th>
        <th scope="col">Runden</th>
        <th scope="col">Zeit-strafe</th>
        <th scope="col">Straf-punkte[s]</th>
        <th scope="col">DNF</th>
        <th scope="col">Aus Wertung streichen</th>
      </tr>
      </thead>
      <tr *ngFor="let driver of data.drivers">
        <td>
          <div class="form-check">
            <input type="checkbox" [(ngModel)]="getResult(driver.id).participated"
                   name="participated_{{driver.id}}" class="form-check-label"/>
            {{driver.name}}
          </div>
        </td>
        <td>
          <input type="text" [(ngModel)]="getResult(driver.id).replacementDriver"
                 class="replacementDriverColumn form-control" placeholder="(Keiner)"
                 name="replacementDriver_{{driver.id}}" [disabled]="!getResult(driver.id).participated"/>
        </td>
        <td>
          <input type="text" [(ngModel)]="getResult(driver.id).gridPosition" class="numberColumn form-control"
                 name="gridPosition_{{driver.id}}" [disabled]="!getResult(driver.id).participated"/>
        </td>
        <td>
          <input type="text" [(ngModel)]="getResult(driver.id).finishPosition"
                 class="numberColumn form-control" name="finishPosition_{{driver.id}}"
                 [disabled]="!getResult(driver.id).participated"/>
        </td>
        <td>
          <input type="text" [ngModel]="getFastestTime(driver.id)" name="fastestTime_{{driver.id}}"
                 (ngModelChange)="handleFastestTimeChanged($event, driver.id)"
                 class="fastestTimeColumn form-control" placeholder="MM:SS.sss"
                 pattern="((\d{0,2}):(?=\d{0,2}:))*((\d{0,2}):(?=\d{0,2}.))*((\d{0,2}).)(\d{0,3})"
                 [disabled]="!getResult(driver.id).participated"/>
        </td>
        <td>
          <input type="text" [ngModel]="getTotalTime(driver.id)" name="totalTime_{{driver.id}}"
                 (ngModelChange)="handleTotalTimeChanged($event, driver.id)"
                 class="totalTimeColumn form-control" placeholder="HH:MM:SS.sss"
                 pattern="((\d{0,2}):(?=\d{0,2}:))*((\d{0,2}):(?=\d{0,2}.))*((\d{0,2}).)(\d{0,3})"
                 [disabled]="!getResult(driver.id).participated"/>
        </td>
        <td>
          <input type="text" [(ngModel)]="getResult(driver.id).lapsCompleted"
                 name="lapsCompleted_{{driver.id}}" class="numberColumn form-control"
                 [disabled]="!getResult(driver.id).participated"/>
        </td>
        <td>
          <input type="text" [(ngModel)]="getResult(driver.id).penaltySeconds"
                 name="penaltySeconds_{{driver.id}}" class="numberColumn form-control"
                 [disabled]="!getResult(driver.id).participated"/>
        </td>
        <td>
          <input type="text" [(ngModel)]="getResult(driver.id).penaltyPoints"
                 name="penaltyPoints_{{driver.id}}" class="numberColumn form-control"
                 [disabled]="!getResult(driver.id).participated"/>
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="getResult(driver.id).dnf" name="dnf_{{driver.id}}"
                 class="form-control" [disabled]="!getResult(driver.id).participated"/>
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="getResult(driver.id).ignoreForStanding"
                 name="ignoreForStanding_{{driver.id}}" class="form-control"
                 [disabled]="!getResult(driver.id).participated"/>
        </td>
      </tr>
    </table>

    <div class="text-right">
      <button type="button" class="btn btn-primary" (click)="saveEvent()" [disabled]="!raceForm.form.valid">Save
      </button>
    </div>
  </form>
</div>
