.replacementDriverColumn {
  width: 100px;
}

.numberColumn {
  width:45px;
  text-align:center;
}

.totalTimeColumn {
  width:120px;
}

.fastestTimeColumn {
  width:100px;
}


.penalty {
  color:red;
}
