<div class="card mb-4">
  <div class="card-header font-weight-bold">
    {{race.timestamp | date: 'dd.MM.yyyy'}} {{race.track}}
  </div>

  <div class="card-body">
    <markdown [data]="race.description" *ngIf="race.description"></markdown>

    <p class="text-muted" *ngIf="!race.description">Keine Beschreibung vorhanden.</p>
    <p class="text-right mr-4">
      <a (click)="editRaceDescription()" href="javascript:void();" *ngIf="editing">
        <i class="fa fa-pencil" aria-hidden="true"></i> Bearbeiten</a>
    </p>
  </div>
</div>


<div class="card mb-4">
  <div class="card-header">

    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" *ngFor="let event of events">
        <a class="nav-link" [class.active]="eventSubject.getValue() === event"
           href="javascript:void();" (click)="selectEvent(event);">{{event.title}}
          <span (click)="editEvent(event)" class="handCursor" *ngIf="editing">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </span>
        </a>
      </li>
      <li class="nav-item" *ngIf="editing">
        <a class="nav-link" href="javascript:void();" (click)="createNewEvent()">+</a>
      </li>
    </ul>

  </div>

  <div class="card-body" *ngIf="!events || events.length === 0">
    <span class="text-muted">
      Keine Veranstaltungen vorhanden.
    </span>
  </div>

  <div class="card-body" *ngIf="eventSubject.getValue()">
    <markdown [data]="eventSubject.getValue().description" *ngIf="eventSubject.getValue() && eventSubject.getValue().description"></markdown>

    <event-qualifying [data]="data" [event]="eventSubject" [editing]="editing" (onSaveEvent)="saveEvent($event)"
                      *ngIf="eventSubject.getValue() && eventSubject.getValue().type === 'QUALIFYING'"></event-qualifying>
    <event-race [data]="data" [event]="eventSubject" [editing]="editing" (onSaveEvent)="saveEvent($event)"
                *ngIf="eventSubject.getValue() && eventSubject.getValue().type === 'RACE'"></event-race>

  </div>
</div>
