<div class="card mb-4">
  <div class="card-header">
    Rennen
  </div>

  <div class="list-group list-group-flush">

    <span *ngIf="!data.races || data.races.length == 0" class="list-group-item text-muted bg-light">
      Keine Rennen vorhanden
    </span>


    <span *ngFor="let race of data.races;let i = index;">
      <a (click)="selectRace(race)" [class.active]="selectedRace.getValue() === race" href="javascript:void();" class="list-group-item list-group-item-action"> <!--  active -->
        {{race.timestamp | date: 'dd.MM.yyyy'}} {{race.track}}
        <i class="fa fa-pencil handCursor" aria-hidden="true" *ngIf="editing" (click)="editRace(race)"></i>
        <i class="fa fa-trash handCursor" aria-hidden="true" *ngIf="editing" (click)="deleteRace(race)"></i>
      </a>
    </span>

    <a *ngIf="editing" href="javascript:void();" (click)="createNewRace()" class="list-group-item list-group-item-action bg-light">
      <i class="fa fa-plus" aria-hidden="true"></i> Rennen hinzuf&uuml;gen...
    </a>
  </div>
</div>
