<!--The content below is only a placeholder and can be replaced.-->

<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal">
    <a class="pure-menu-heading" href="">SimRacing Series</a>

    <ul class="pure-menu-list">
      <li class="pure-menu-item pure-menu-selected">
        <a class="pure-menu-link" [routerLink]="['/details', 'GT3']">Details</a>
      </li>
      <li class="pure-menu-item"><a href="#" class="pure-menu-link">Fahrer hinzufügen</a></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer l-box is-center">
  Made with ... by Dennis
</div>
